<thead role="presentation" class="ember-power-calendar-row ember-power-calendar-weekdays">
  <tr role="presentation">
    {{#each weekdaysNames as |wdn|}}
      <th role="presentation" class="ember-power-calendar-weekday">{{wdn}}</th>
    {{/each}}
  </tr>
</thead>
{{! template-lint-disable invalid-interactive }}
<tbody role="presentation" aria-label="use arrow keys to select date" class="ember-power-calendar-day-grid" onkeydown={{action "onKeyDown" calendar}} tabindex="0">
  {{#each weeks key='id' as |week|}}
    <tr role="presentation" class="ember-power-calendar-row ember-power-calendar-week" data-missing-days={{week.missingDays}}>
      {{#each week.days key='id' as |day|}}
        <td class="ember-power-calendar-day {{if onSelect 'ember-power-calendar-day--interactive'}} {{if day.isCurrentMonth 'ember-power-calendar-day--current-month' 'ember-power-calendar-day--other-month'}} {{if day.isSelected 'ember-power-calendar-day--selected'}} {{if day.isToday 'ember-power-calendar-day--today'}} {{if day.isFocused 'ember-power-calendar-day--focused'}} {{if day.isRangeStart 'ember-power-calendar-day--range-start'}} {{if day.isRangeEnd 'ember-power-calendar-day--range-end'}}"
          role="link"
          label="{{day.id}}"
          aria-current={{if day.isSelected 'date'}}
          data-date="{{day.id}}"
          onclick={{action calendar.actions.select day calendar}}
          onkeydown={{action calendar.actions.select day calendar}}
          onfocus={{action 'onFocusDay' day}}
          onblur={{action 'onBlurDay'}}
          disabled={{day.isDisabled}}
          tabindex="-1">
          {{#if hasBlock}}
            {{yield day publicAPI}}
          {{else}}
            {{day.number}}
          {{/if}}
        </td>
      {{/each}}
    </tr>
  {{/each}}
</tbody>
